<a href="https://colab.research.google.com/github/MarMar888/ECEDesignLabProj/blob/main/MainClean.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Import required libraries
import pandas as pd

# Read the CSV file
df = pd.read_csv('3D_Print_Jobs_1743518886.csv')

# Display the first few rows of the dataset
print("Dataset Preview:")
display(df.head())

# Display basic information about the dataset
print("\nDataset Info:")
display(df.info())

#TEST

Dataset Preview:

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Name,Subitems,Tech Staff,Job Status,Select Printer,Slicer Project File,Paid,Materials Fee Paid (EMU),User Name,Printer Requested,...,Date Added,Date Added,Print ID,Job Time Tracking,Creation Log,Archive Date,Reason for Print,Staff Assisting,Delay Count,Print Count
2,Bensch CPU case parts,NaN,NaN,NaN,NaN,https://uw-makerspace-team.monday.com/protecte...,Pending Payment,Not Checked Yet,Vincent Bensch,Bambu Labs,...,NaN,NaN,8215168794,NaN,"Deleted member Jan 10, 2025 3:00 PM",NaN,NaN,NaN,0,1
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,00:00:00,NaN,NaN,NaN,NaN,0,1
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1973 entries, 0 to 1972
Data columns (total 54 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   1937 non-null   object
 1   Unnamed: 1   4 non-null      object
 2   Unnamed: 2   975 non-null    object
 3   Unnamed: 3   1934 non-null   object
 4   Unnamed: 4   1934 non-null   object
 5   Unnamed: 5   1934 non-null   object
 6   Unnamed: 6   1935 non-null   object
 7   Unnamed: 7   1934 non-null   object
 8   Unnamed: 8   1935 non-null   object
 9   Unnamed: 9   1935 non-null   object
 10  Unnamed: 10  1935 non-null   object
 11  Unnamed: 11  10 non-null     object
 12  Unnamed: 12  1933 non-null   object
 13  Unnamed: 13  1109 non-null   object
 14  Unnamed: 14  1934 non-null   object
 15  Unnamed: 15  78 non-null     object
 16  Unnamed: 16  400 non-null    object
 17  Unnamed: 17  1941 non-null   object
 18  Unnamed: 18  4 non-null      object
 19  Unnamed: 19  1935 non-null   object
 20  Unnamed: 20  1932 non-null   object
 21  Unnamed: 21  1932 non-null   object
 22  Unnamed: 22  1932 non-null   object
 23  Unnamed: 23  1932 non-null   object
 24  Unnamed: 24  4 non-null      object
 25  Unnamed: 25  260 non-null    object
 26  Unnamed: 26  162 non-null    object
 27  Unnamed: 27  1941 non-null   object
 28  Unnamed: 28  1705 non-null   object
 29  Unnamed: 29  1705 non-null   object
 30  Unnamed: 30  1705 non-null   object
 31  Unnamed: 31  1705 non-null   object
 32  Unnamed: 32  1705 non-null   object
 33  Unnamed: 33  4 non-null      object
 34  Unnamed: 34  54 non-null     object
 35  Unnamed: 35  54 non-null     object
 36  Unnamed: 36  1941 non-null   object
 37  Unnamed: 37  16 non-null     object
 38  Unnamed: 38  16 non-null     object
 39  Unnamed: 39  16 non-null     object
 40  Unnamed: 40  10 non-null     object
 41  Unnamed: 41  10 non-null     object
 42  Unnamed: 42  1935 non-null   object
 43  Unnamed: 43  1941 non-null   object
 44  Unnamed: 44  4 non-null      object
 45  Unnamed: 45  4 non-null      object
 46  Unnamed: 46  1935 non-null   object
 47  Unnamed: 47  10 non-null     object
 48  Unnamed: 48  1935 non-null   object
 49  Unnamed: 49  4 non-null      object
 50  Unnamed: 50  4 non-null      object
 51  Unnamed: 51  4 non-null      object
 52  Unnamed: 52  1941 non-null   object
 53  Unnamed: 53  1941 non-null   object
dtypes: object(54)
memory usage: 832.5+ KB

None

In [2]:
df = df.drop(0)

In [3]:
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53
1,Name,Subitems,Tech Staff,Job Status,Select Printer,Slicer Project File,Paid,Materials Fee Paid (EMU),User Name,Printer Requested,...,Date Added,Date Added,Print ID,Job Time Tracking,Creation Log,Archive Date,Reason for Print,Staff Assisting,Delay Count,Print Count
2,Bensch CPU case parts,NaN,NaN,NaN,NaN,https://uw-makerspace-team.monday.com/protecte...,Pending Payment,Not Checked Yet,Vincent Bensch,Bambu Labs,...,NaN,NaN,8215168794,NaN,"Deleted member Jan 10, 2025 3:00 PM",NaN,NaN,NaN,0,1
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,00:00:00,NaN,NaN,NaN,NaN,0,1
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.columns = df.iloc[0]

In [5]:
df = df.drop(1)

In [6]:
df.head(20)

1,Name,Subitems,Tech Staff,Job Status,Select Printer,Slicer Project File,Paid,Materials Fee Paid (EMU),User Name,Printer Requested,...,Date Added,Date Added,Print ID,Job Time Tracking,Creation Log,Archive Date,Reason for Print,Staff Assisting,Delay Count,Print Count
2,Bensch CPU case parts,NaN,NaN,NaN,NaN,https://uw-makerspace-team.monday.com/protecte...,Pending Payment,Not Checked Yet,Vincent Bensch,Bambu Labs,...,NaN,NaN,8215168794,NaN,"Deleted member Jan 10, 2025 3:00 PM",NaN,NaN,NaN,0,1
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,00:00:00,NaN,NaN,NaN,NaN,0,1
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,FMEP Cubes 1,NaN,NaN,To Be Paid,Komodo,https://uw-makerspace-team.monday.com/protecte...,Pending Payment,PAID,Ben Davidson,Bambu Labs,...,NaN,NaN,8171785086,NaN,Design Innovation Lab Undergraduate Staff Jan ...,NaN,NaN,NaN,0,1
8,AED_Drone_Parts_1,NaN,NaN,To Be Paid,Tigress,https://uw-makerspace-team.monday.com/protecte...,Pending Payment,PAID,Lennon Rodgers,Bambu Labs,...,NaN,NaN,8214378089,NaN,Design Innovation Lab Undergraduate Staff Jan ...,NaN,NaN,NaN,0,1
9,AED_Drone_Parts_2,NaN,NaN,To Be Paid,Master Shifu,https://uw-makerspace-team.monday.com/protecte...,Pending Payment,PAID,Lennon Rodgers,Bambu Labs,...,NaN,NaN,8214392486,NaN,Design Innovation Lab Undergraduate Staff Jan ...,NaN,NaN,NaN,0,1
10,Top-Down Mount v1,NaN,NaN,To Be Paid,Master Oogway,https://uw-makerspace-team.monday.com/protecte...,Pending Payment,PAID,Carter Sifferman,Bambu Labs,...,NaN,NaN,8238119583,NaN,Design Innovation Lab Undergraduate Staff Jan ...,NaN,NaN,NaN,0,1
11,BES Base,NaN,NaN,To Be Paid,Viper,https://uw-makerspace-team.monday.com/protecte...,Pending Payment,PAID,Brandon Schmall,Bambu Labs,...,NaN,NaN,8269757333,NaN,Design Innovation Lab Undergraduate Staff Jan ...,NaN,NaN,NaN,0,1
12,LilahProjectTest1,NaN,NaN,To Be Paid,Tai Lung,https://uw-makerspace-team.monday.com/protecte...,Pending Payment,PAID,Lilah Kirkham,Bambu Labs,...,NaN,NaN,8321390406,NaN,Design Innovation Lab Undergraduate Staff Jan ...,NaN,NaN,NaN,0,1
13,Gel_fixtures,NaN,NaN,To Be Paid,Monkey,https://uw-makerspace-team.monday.com/protecte...,Pending Payment,PAID,Liam Sullivan-Konyn,Bambu Labs,...,NaN,NaN,8331849542,NaN,Design Innovation Lab Undergraduate Staff Jan ...,NaN,NaN,NaN,0,1
14,Bensch 2025-01-27 Plate 1,NaN,NaN,To Be Paid,Mr. Ping,https://uw-makerspace-team.monday.com/protecte...,Pending Payment,PAID,Vincent Bensch,Bambu Labs,...,NaN,NaN,8332075134,NaN,Design Innovation Lab Undergraduate Staff Jan ...,NaN,NaN,NaN,0,1
15,Bensch 2025-27-01 Plate 2,NaN,NaN,To Be Paid,Mr. Ping,https://uw-makerspace-team.monday.com/protecte...,Pending Payment,PAID,Vincent Bensch,Bambu Labs,...,NaN,NaN,8332118284,NaN,Design Innovation Lab Undergraduate Staff Jan ...,NaN,NaN,NaN,0,1
16,Krishiv Dhupar,NaN,NaN,To Be Paid,Mantis,https://uw-makerspace-team.monday.com/protecte...,Pending Payment,NOT Paid,Krishiv Dhupar,Bambu Labs,...,NaN,NaN,8332840625,NaN,Design Innovation Lab Undergraduate Staff Jan ...,NaN,NaN,NaN,0,1
17,Jake Evans,NaN,NaN,To Be Paid,Tai Lung,https://uw-makerspace-team.monday.com/protecte...,Pending Payment,PAID,Jake Evans,Bambu Labs,...,NaN,NaN,8333910287,NaN,Design Innovation Lab Undergraduate Staff Jan ...,NaN,NaN,NaN,0,1
18,plow,NaN,NaN,To Be Paid,Master Shifu,https://uw-makerspace-team.monday.com/protecte...,Pending Payment,PAID,Jake Evans,Bambu Labs,...,NaN,NaN,8333985541,NaN,Design Innovation Lab Undergraduate Staff Jan ...,NaN,NaN,NaN,0,1
19,PS5 joysticks,NaN,NaN,To Be Paid,Po,https://uw-makerspace-team.monday.com/protecte...,Pending Payment,PAID,Carter Henry,Bambu Labs,...,NaN,NaN,8334391623,NaN,Design Innovation Lab Undergraduate Staff Jan ...,NaN,NaN,NaN,0,1
20,PS5 joystick,NaN,NaN,To Be Paid,Po,https://uw-makerspace-team.monday.com/protecte...,Pending Payment,PAID,Carter Henry,Bambu Labs,...,NaN,NaN,8334411122,NaN,Design Innovation Lab Undergraduate Staff Jan ...,NaN,NaN,NaN,0,1
21,jrvollmer Short Stand Base,NaN,NaN,To Be Paid,Viper,https://uw-makerspace-team.monday.com/protecte...,Pending Payment,PAID,James Vollmer,Bambu Labs,...,NaN,NaN,8334462786,NaN,Design Innovation Lab Undergraduate Staff Jan ...,NaN,NaN,NaN,0,1

In [7]:
df = df[df['Print ID'].notna()]

In [8]:
df = df.drop_duplicates(subset=['Print ID'])

In [9]:
df = df.drop_duplicates()

In [10]:
df.shape

(1932, 54)

In [11]:
df.head()

1,Name,Subitems,Tech Staff,Job Status,Select Printer,Slicer Project File,Paid,Materials Fee Paid (EMU),User Name,Printer Requested,...,Date Added,Date Added,Print ID,Job Time Tracking,Creation Log,Archive Date,Reason for Print,Staff Assisting,Delay Count,Print Count
2,Bensch CPU case parts,NaN,NaN,NaN,NaN,https://uw-makerspace-team.monday.com/protecte...,Pending Payment,Not Checked Yet,Vincent Bensch,Bambu Labs,...,NaN,NaN,8215168794,NaN,"Deleted member Jan 10, 2025 3:00 PM",NaN,NaN,NaN,0,1
7,FMEP Cubes 1,NaN,NaN,To Be Paid,Komodo,https://uw-makerspace-team.monday.com/protecte...,Pending Payment,PAID,Ben Davidson,Bambu Labs,...,NaN,NaN,8171785086,NaN,Design Innovation Lab Undergraduate Staff Jan ...,NaN,NaN,NaN,0,1
8,AED_Drone_Parts_1,NaN,NaN,To Be Paid,Tigress,https://uw-makerspace-team.monday.com/protecte...,Pending Payment,PAID,Lennon Rodgers,Bambu Labs,...,NaN,NaN,8214378089,NaN,Design Innovation Lab Undergraduate Staff Jan ...,NaN,NaN,NaN,0,1
9,AED_Drone_Parts_2,NaN,NaN,To Be Paid,Master Shifu,https://uw-makerspace-team.monday.com/protecte...,Pending Payment,PAID,Lennon Rodgers,Bambu Labs,...,NaN,NaN,8214392486,NaN,Design Innovation Lab Undergraduate Staff Jan ...,NaN,NaN,NaN,0,1
10,Top-Down Mount v1,NaN,NaN,To Be Paid,Master Oogway,https://uw-makerspace-team.monday.com/protecte...,Pending Payment,PAID,Carter Sifferman,Bambu Labs,...,NaN,NaN,8238119583,NaN,Design Innovation Lab Undergraduate Staff Jan ...,NaN,NaN,NaN,0,1

In [12]:
df = df.dropna(subset=['Select Printer'])

In [13]:
df.head()

1,Name,Subitems,Tech Staff,Job Status,Select Printer,Slicer Project File,Paid,Materials Fee Paid (EMU),User Name,Printer Requested,...,Date Added,Date Added,Print ID,Job Time Tracking,Creation Log,Archive Date,Reason for Print,Staff Assisting,Delay Count,Print Count
7,FMEP Cubes 1,NaN,NaN,To Be Paid,Komodo,https://uw-makerspace-team.monday.com/protecte...,Pending Payment,PAID,Ben Davidson,Bambu Labs,...,NaN,NaN,8171785086,NaN,Design Innovation Lab Undergraduate Staff Jan ...,NaN,NaN,NaN,0,1
8,AED_Drone_Parts_1,NaN,NaN,To Be Paid,Tigress,https://uw-makerspace-team.monday.com/protecte...,Pending Payment,PAID,Lennon Rodgers,Bambu Labs,...,NaN,NaN,8214378089,NaN,Design Innovation Lab Undergraduate Staff Jan ...,NaN,NaN,NaN,0,1
9,AED_Drone_Parts_2,NaN,NaN,To Be Paid,Master Shifu,https://uw-makerspace-team.monday.com/protecte...,Pending Payment,PAID,Lennon Rodgers,Bambu Labs,...,NaN,NaN,8214392486,NaN,Design Innovation Lab Undergraduate Staff Jan ...,NaN,NaN,NaN,0,1
10,Top-Down Mount v1,NaN,NaN,To Be Paid,Master Oogway,https://uw-makerspace-team.monday.com/protecte...,Pending Payment,PAID,Carter Sifferman,Bambu Labs,...,NaN,NaN,8238119583,NaN,Design Innovation Lab Undergraduate Staff Jan ...,NaN,NaN,NaN,0,1
11,BES Base,NaN,NaN,To Be Paid,Viper,https://uw-makerspace-team.monday.com/protecte...,Pending Payment,PAID,Brandon Schmall,Bambu Labs,...,NaN,NaN,8269757333,NaN,Design Innovation Lab Undergraduate Staff Jan ...,NaN,NaN,NaN,0,1

In [14]:
df.drop(columns=['Tech Staff', 'Subitems'], inplace=True)

In [15]:
df.drop(columns=['Job Status'], inplace=True)

In [23]:
df.drop(columns=['Date Added'], inplace=True)

In [24]:
df.drop(columns=['Job Time Tracking'], inplace=True)

In [25]:
df.drop(columns=['Material(s) Requested','Link','IP Address','Operation Status','Org / Course Affiliation?','Post Process Instructions','Material Notes','Material Link','Material Notes Link Link','Agreement to Pay','agree to MFG','Understand Reprints','Understand Queue','Post Process Instructions','Archive Date','Reason for Print','Staff Assisting','Delay Count','Print Count'], inplace=True)

In [26]:
df.head()

1,Name,Select Printer,Slicer Project File,Paid,Materials Fee Paid (EMU),User Name,Printer Requested,User Email,Printer Note,Job Notes,...,Material 2,Cost/Unit,Dup. of Cost/Unit,Status,Printed On,Print Cost,Sliced by,Print Time (Hours),Print ID,Creation Log
7,FMEP Cubes 1,Komodo,https://uw-makerspace-team.monday.com/protecte...,Pending Payment,PAID,Ben Davidson,Bambu Labs,bmdavidson2@wisc.edu,X1E - ABS White/ASA White,Blue ABS,...,Bambu Labs ASA,0.05,0.03,Availible,Bambu Labs,21.04,User,14,8171785086,Design Innovation Lab Undergraduate Staff Jan ...
8,AED_Drone_Parts_1,Tigress,https://uw-makerspace-team.monday.com/protecte...,Pending Payment,PAID,Lennon Rodgers,Bambu Labs,lprodgers@wisc.edu,X1C - Black PLA/White PLA,NaN,...,Bambu Labs PLA Matte,0.05,0.02,Availible,Bambu Labs,2.75,Makerspace Staff,2,8214378089,Design Innovation Lab Undergraduate Staff Jan ...
9,AED_Drone_Parts_2,Master Shifu,https://uw-makerspace-team.monday.com/protecte...,Pending Payment,PAID,Lennon Rodgers,Bambu Labs,lprodgers@wisc.edu,X1C - Blue PLA/Gray PLA,NaN,...,Bambu Labs PLA Matte,0.05,0.02,Availible,Bambu Labs,4.85,User,3,8214392486,Design Innovation Lab Undergraduate Staff Jan ...
10,Top-Down Mount v1,Master Oogway,https://uw-makerspace-team.monday.com/protecte...,Pending Payment,PAID,Carter Sifferman,Bambu Labs,sifferman@wisc.edu,X1C - White PLA/Purple PLA,NaN,...,Bambu Labs PLA Matte,0.05,0.02,Availible,Bambu Labs,13.73,User,9,8238119583,Design Innovation Lab Undergraduate Staff Jan ...
11,BES Base,Viper,https://uw-makerspace-team.monday.com/protecte...,Pending Payment,PAID,Brandon Schmall,Bambu Labs,baschmall@wisc.edu,X1C - White ASA/Teal ASA,NaN,...,Bambu Labs PLA Matte,0.05,0.02,Availible,Bambu Labs,1.83,User,1,8269757333,Design Innovation Lab Undergraduate Staff Jan ...

In [27]:
df.drop(columns=['Paid', 'Materials Fee Paid (EMU)', 'User Name', 'Job Notes', 'Status'], inplace=True)

In [28]:
df.columns

Index(['Name', 'Select Printer', 'Slicer Project File', 'Printer Requested',
       'User Email', 'Printer Note', 'Material 1 Qty', 'User Type',
       'Material 1', 'Cost/Unit', 'Printed On', 'Material 2 Qty', 'Material 2',
       'Cost/Unit', 'Dup. of Cost/Unit', 'Printed On', 'Print Cost',
       'Sliced by', 'Print Time (Hours)', 'Print ID', 'Creation Log'],
      dtype='object', name=1)

In [30]:
df['User Type'].unique()

array(['Graduate', 'Undergraduate', 'Faculty / Staff', 'User Type'],
      dtype=object)

In [33]:
df[ df['User Type'] == 'User Type' ].head()

1,Name,Select Printer,Slicer Project File,Printer Requested,User Email,Printer Note,Material 1 Qty,User Type,Material 1,Cost/Unit,...,Material 2 Qty,Material 2,Cost/Unit,Dup. of Cost/Unit,Printed On,Print Cost,Sliced by,Print Time (Hours),Print ID,Creation Log
192,Name,Select Printer,Slicer Project File,Printer Requested,User Email,Printer Note,Material 1 Qty,User Type,Material 1,Cost/Unit,...,Material 2 Qty,Material 2,Cost/Unit,Dup. of Cost/Unit,Printed On,Print Cost,Sliced by,Print Time (Hours),Print ID,Creation Log

In [35]:
df = df.drop(192)

In [36]:
df[ df['User Type'] == 'User Type' ].head()

Empty DataFrame
Columns: [Name, Select Printer, Slicer Project File, Printer Requested, User Email, Printer Note, Material 1 Qty, User Type, Material 1, Cost/Unit, Printed On, Material 2 Qty, Material 2, Cost/Unit, Dup. of Cost/Unit, Printed On, Print Cost, Sliced by, Print Time (Hours), Print ID, Creation Log]
Index: []

[0 rows x 21 columns]

In [37]:
df.columns

Index(['Name', 'Select Printer', 'Slicer Project File', 'Printer Requested',
       'User Email', 'Printer Note', 'Material 1 Qty', 'User Type',
       'Material 1', 'Cost/Unit', 'Printed On', 'Material 2 Qty', 'Material 2',
       'Cost/Unit', 'Dup. of Cost/Unit', 'Printed On', 'Print Cost',
       'Sliced by', 'Print Time (Hours)', 'Print ID', 'Creation Log'],
      dtype='object', name=1)

In [40]:
df[['Cost/Unit','Dup. of Cost/Unit']].head()

1  Cost/Unit Cost/Unit Dup. of Cost/Unit
7       0.05      0.05              0.03
8       0.05      0.05              0.02
9       0.05      0.05              0.02
10      0.05      0.05              0.02
11      0.05      0.05              0.02

In [41]:
df.drop(columns=['Dup. of Cost/Unit'], inplace=True)

In [45]:
df.columns

Index(['Name', 'Select Printer', 'Slicer Project File', 'Printer Requested',
       'User Email', 'Printer Note', 'Material 1 Qty', 'User Type',
       'Material 1', 'Cost/Unit', 'Printed On', 'Material 2 Qty', 'Material 2',
       'Cost/Unit', 'Printed On', 'Print Cost', 'Sliced by',
       'Print Time (Hours)', 'Print ID', 'Creation Log'],
      dtype='object', name=1)

In [62]:

column_mapping = {
    df.columns[9]: 'Material 1 Cost/Unit',
    df.columns[13]: 'Material 2 Cost/Unit'
}

print(column_mapping)
df = df.rename(columns=column_mapping)

{'Cost/Unit': 'Material 2 Cost/Unit'}

In [63]:
df.head()

1,Name,Select Printer,Slicer Project File,Printer Requested,User Email,Printer Note,Material 1 Qty,User Type,Material 1,Material 2 Cost/Unit,Printed On,Material 2 Qty,Material 2,Material 2 Cost/Unit,Printed On,Print Cost,Sliced by,Print Time (Hours),Print ID,Creation Log
7,FMEP Cubes 1,Komodo,https://uw-makerspace-team.monday.com/protecte...,Bambu Labs,bmdavidson2@wisc.edu,X1E - ABS White/ASA White,420.82,Graduate,Bambu Labs ABS,0.05,Bambu Labs,0,Bambu Labs ASA,0.05,Bambu Labs,21.04,User,14,8171785086,Design Innovation Lab Undergraduate Staff Jan ...
8,AED_Drone_Parts_1,Tigress,https://uw-makerspace-team.monday.com/protecte...,Bambu Labs,lprodgers@wisc.edu,X1C - Black PLA/White PLA,55,Graduate,Bambu Labs PLA Matte,0.05,Bambu Labs,0,Bambu Labs PLA Matte,0.05,Bambu Labs,2.75,Makerspace Staff,2,8214378089,Design Innovation Lab Undergraduate Staff Jan ...
9,AED_Drone_Parts_2,Master Shifu,https://uw-makerspace-team.monday.com/protecte...,Bambu Labs,lprodgers@wisc.edu,X1C - Blue PLA/Gray PLA,97,Graduate,Bambu Labs PLA Matte,0.05,Bambu Labs,0,Bambu Labs PLA Matte,0.05,Bambu Labs,4.85,User,3,8214392486,Design Innovation Lab Undergraduate Staff Jan ...
10,Top-Down Mount v1,Master Oogway,https://uw-makerspace-team.monday.com/protecte...,Bambu Labs,sifferman@wisc.edu,X1C - White PLA/Purple PLA,274.64,Graduate,Bambu Labs PLA Matte,0.05,Bambu Labs,0,Bambu Labs PLA Matte,0.05,Bambu Labs,13.73,User,9,8238119583,Design Innovation Lab Undergraduate Staff Jan ...
11,BES Base,Viper,https://uw-makerspace-team.monday.com/protecte...,Bambu Labs,baschmall@wisc.edu,X1C - White ASA/Teal ASA,36.5,Graduate,Bambu Labs PLA Matte,0.05,Bambu Labs,0,Bambu Labs PLA Matte,0.05,Bambu Labs,1.83,User,1,8269757333,Design Innovation Lab Undergraduate Staff Jan ...