<a href="https://colab.research.google.com/github/MarMar888/ECEDesignLabProj/blob/main/MainClean.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [64]:
# Import required libraries
import pandas as pd

# Read the CSV file
df = pd.read_csv('3D_Print_Jobs_1743518886.csv')

# Display the first few rows of the dataset
print("Dataset Preview:")
display(df.head())

# Display basic information about the dataset
print("\nDataset Info:")
display(df.info())

#TEST

Dataset Preview:

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Name,Subitems,Tech Staff,Job Status,Select Printer,Slicer Project File,Paid,Materials Fee Paid (EMU),User Name,Printer Requested,...,Date Added,Date Added,Print ID,Job Time Tracking,Creation Log,Archive Date,Reason for Print,Staff Assisting,Delay Count,Print Count
2,Bensch CPU case parts,NaN,NaN,NaN,NaN,https://uw-makerspace-team.monday.com/protecte...,Pending Payment,Not Checked Yet,Vincent Bensch,Bambu Labs,...,NaN,NaN,8215168794,NaN,"Deleted member Jan 10, 2025 3:00 PM",NaN,NaN,NaN,0,1
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,00:00:00,NaN,NaN,NaN,NaN,0,1
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1973 entries, 0 to 1972
Data columns (total 54 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   1937 non-null   object
 1   Unnamed: 1   4 non-null      object
 2   Unnamed: 2   975 non-null    object
 3   Unnamed: 3   1934 non-null   object
 4   Unnamed: 4   1934 non-null   object
 5   Unnamed: 5   1934 non-null   object
 6   Unnamed: 6   1935 non-null   object
 7   Unnamed: 7   1934 non-null   object
 8   Unnamed: 8   1935 non-null   object
 9   Unnamed: 9   1935 non-null   object
 10  Unnamed: 10  1935 non-null   object
 11  Unnamed: 11  10 non-null     object
 12  Unnamed: 12  1933 non-null   object
 13  Unnamed: 13  1109 non-null   object
 14  Unnamed: 14  1934 non-null   object
 15  Unnamed: 15  78 non-null     object
 16  Unnamed: 16  400 non-null    object
 17  Unnamed: 17  1941 non-null   object
 18  Unnamed: 18  4 non-null      object
 19  Unnamed: 19  1935 non-null   object
 20  Unnamed: 20  1932 non-null   object
 21  Unnamed: 21  1932 non-null   object
 22  Unnamed: 22  1932 non-null   object
 23  Unnamed: 23  1932 non-null   object
 24  Unnamed: 24  4 non-null      object
 25  Unnamed: 25  260 non-null    object
 26  Unnamed: 26  162 non-null    object
 27  Unnamed: 27  1941 non-null   object
 28  Unnamed: 28  1705 non-null   object
 29  Unnamed: 29  1705 non-null   object
 30  Unnamed: 30  1705 non-null   object
 31  Unnamed: 31  1705 non-null   object
 32  Unnamed: 32  1705 non-null   object
 33  Unnamed: 33  4 non-null      object
 34  Unnamed: 34  54 non-null     object
 35  Unnamed: 35  54 non-null     object
 36  Unnamed: 36  1941 non-null   object
 37  Unnamed: 37  16 non-null     object
 38  Unnamed: 38  16 non-null     object
 39  Unnamed: 39  16 non-null     object
 40  Unnamed: 40  10 non-null     object
 41  Unnamed: 41  10 non-null     object
 42  Unnamed: 42  1935 non-null   object
 43  Unnamed: 43  1941 non-null   object
 44  Unnamed: 44  4 non-null      object
 45  Unnamed: 45  4 non-null      object
 46  Unnamed: 46  1935 non-null   object
 47  Unnamed: 47  10 non-null     object
 48  Unnamed: 48  1935 non-null   object
 49  Unnamed: 49  4 non-null      object
 50  Unnamed: 50  4 non-null      object
 51  Unnamed: 51  4 non-null      object
 52  Unnamed: 52  1941 non-null   object
 53  Unnamed: 53  1941 non-null   object
dtypes: object(54)
memory usage: 832.5+ KB

None

In [65]:
df = df.drop(0)

In [66]:
df.columns = df.iloc[0]

In [67]:
df = df.drop(1)

In [68]:
df = df[df['Print ID'].notna()]

In [69]:
df = df.drop_duplicates(subset=['Print ID'])

In [70]:
df = df.drop_duplicates()

In [71]:
df = df.dropna(subset=['Select Printer'])

In [72]:
df.drop(columns=['Tech Staff', 'Subitems'], inplace=True)

In [73]:
df.drop(columns=['Job Status'], inplace=True)

In [74]:
df.drop(columns=['Date Added'], inplace=True)

In [75]:
df.drop(columns=['Job Time Tracking'], inplace=True)

In [76]:
df.drop(columns=['Material(s) Requested','Link','IP Address','Operation Status','Org / Course Affiliation?','Post Process Instructions','Material Notes','Material Link','Material Notes Link Link','Agreement to Pay','agree to MFG','Understand Reprints','Understand Queue','Post Process Instructions','Archive Date','Reason for Print','Staff Assisting','Delay Count','Print Count'], inplace=True)

In [77]:
df.drop(columns=['Paid', 'Materials Fee Paid (EMU)', 'User Name', 'Job Notes', 'Status'], inplace=True)

In [78]:
df.columns

Index(['Name', 'Select Printer', 'Slicer Project File', 'Printer Requested',
       'User Email', 'Printer Note', 'Material 1 Qty', 'User Type',
       'Material 1', 'Cost/Unit', 'Printed On', 'Material 2 Qty', 'Material 2',
       'Cost/Unit', 'Dup. of Cost/Unit', 'Printed On', 'Print Cost',
       'Sliced by', 'Print Time (Hours)', 'Print ID', 'Creation Log'],
      dtype='object', name=1)

In [79]:
df = df.drop(192)

In [80]:
df.columns

Index(['Name', 'Select Printer', 'Slicer Project File', 'Printer Requested',
       'User Email', 'Printer Note', 'Material 1 Qty', 'User Type',
       'Material 1', 'Cost/Unit', 'Printed On', 'Material 2 Qty', 'Material 2',
       'Cost/Unit', 'Dup. of Cost/Unit', 'Printed On', 'Print Cost',
       'Sliced by', 'Print Time (Hours)', 'Print ID', 'Creation Log'],
      dtype='object', name=1)

In [81]:
df.drop(columns=['Dup. of Cost/Unit'], inplace=True)

In [82]:

column_mapping = {
    df.columns[9]: 'Material 1 Cost/Unit',
    df.columns[13]: 'Material 2 Cost/Unit'
}

print(column_mapping)
df = df.rename(columns=column_mapping)

{'Cost/Unit': 'Material 2 Cost/Unit'}

In [83]:
df['Material 1'].unique()

array(['Bambu Labs ABS', 'Bambu Labs PLA Matte', nan,
       'Fromlabs Clear (v5)', 'Bambu Labs PETG HF',
       'Bambu Labs PETG Basic', 'Bambu Labs PETG Translucent',
       'Stratasys PC-ABS', 'Bambu Labs PLA Basic', 'Bambu Labs PLA-CF',
       'Markforged Onyx', 'Formlabs Durable (v2)',
       'Bambu Labs TPU 95A HF', 'Nylon 12', 'Ultimaker Tough PLA',
       'Formlabs Black (v4)', 'Formlabs Elastic 50A (v1)',
       'Formlabs High Temp (v2)', 'Bambu Labs ABS-GF',
       'Formlabs BioMed Clear (v1)', 'Formlabs Clear (v3)',
       'Bambu Labs PC', 'Formlabs White (v5)', 'Formlabs Tough 1500 (v1)',
       'Formlabs White (v4)', 'Formlabs Tough 1500 (v1.1)',
       'Formlabs Rigid 4000 (v1)', 'Formlabs Flexible 80A (v2)',
       'Stratasys ABS M30', 'Formlabs Black (v5)', 'Bambu Labs ASA'],
      dtype=object)

In [84]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1930 entries, 7 to 1965
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Name                  1930 non-null   object
 1   Select Printer        1930 non-null   object
 2   Slicer Project File   1929 non-null   object
 3   Printer Requested     1930 non-null   object
 4   User Email            1930 non-null   object
 5   Printer Note          1929 non-null   object
 6   Material 1 Qty        1930 non-null   object
 7   User Type             1930 non-null   object
 8   Material 1            1928 non-null   object
 9   Material 2 Cost/Unit  1928 non-null   object
 10  Printed On            1928 non-null   object
 11  Material 2 Qty        1930 non-null   object
 12  Material 2            1701 non-null   object
 13  Material 2 Cost/Unit  1701 non-null   object
 14  Printed On            1701 non-null   object
 15  Print Cost            1930 non-null   object
 16  Sliced by             1930 non-null   object
 17  Print Time (Hours)    1930 non-null   object
 18  Print ID              1930 non-null   object
 19  Creation Log          1930 non-null   object
dtypes: object(20)
memory usage: 316.6+ KB

In [85]:
rows_with_nulls = df[df.isnull().any(axis=1)]
rows_with_nulls

1,Name,Select Printer,Slicer Project File,Printer Requested,User Email,Printer Note,Material 1 Qty,User Type,Material 1,Material 2 Cost/Unit,Printed On,Material 2 Qty,Material 2,Material 2 Cost/Unit,Printed On,Print Cost,Sliced by,Print Time (Hours),Print ID,Creation Log
24,Seat Base Devulpalali,Crane,https://uw-makerspace-team.monday.com/protecte...,Bambu Labs,vdevulapalli@wisc.edu,X1C - Black PC/White PC,124.66,Undergraduate,Bambu Labs PLA Matte,0.05,Bambu Labs,0,NaN,NaN,NaN,6.23,User with Staff Assistance,5,8337108588,Design Innovation Lab Undergraduate Staff Jan ...
25,test2789,Mantis,https://uw-makerspace-team.monday.com/protecte...,Bambu Labs,chen2465@wisc.edu,X1C - White PLA/Dual PLA,1,Undergraduate,NaN,NaN,NaN,0,Bambu Labs PLA Matte,0.05,Bambu Labs,0,Makerspace Staff,5,8337415815,Design Innovation Lab Undergraduate Staff Jan ...
27,guide_d21_t3,Monkey,https://uw-makerspace-team.monday.com/protecte...,Bambu Labs,sddunham@wisc.edu,X1C - Black PLA/Blue PLA,0,Graduate,Fromlabs Clear (v5),0.24,Form 2/3,10.73,NaN,NaN,NaN,0,User with Staff Assistance,1,8343701228,Design Innovation Lab Undergraduate Staff Jan ...
102,asd,Form 2 - CarefulShaglet,https://uw-makerspace-team.monday.com/protecte...,Form 2/3/4,jeweiss4@wisc.edu,NaN,2,Undergraduate,Formlabs Durable (v2),0.26,Form 2/3,0,NaN,NaN,NaN,0.52,User with Staff Assistance,1,8648767922,Design Innovation Lab Undergraduate Staff Mar ...
104,Blade V4,Fuse 1,https://uw-makerspace-team.monday.com/protecte...,Fuse 1,tpritts@wisc.edu,Nylon 12,0.14,Undergraduate,Nylon 12,0.15,Fuse 1,0,NaN,NaN,NaN,0.02,Makerspace Staff,12,8660467421,Design Innovation Lab Undergraduate Staff Mar ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1918,OilJet,Form 3 - OvertWobbegong,https://uw-makerspace-team.monday.com/protecte...,Form 2/3/4,ghegge@wisc.edu,High Temp Resin / Clear Resin,150,Graduate,Formlabs High Temp (v2),0.29,Form 2/3,0,NaN,NaN,NaN,43.5,User with Staff Assistance,12,8789166923,Design Innovation Lab Undergraduate Staff Mar ...
1927,tee,Form 3 - OvertWobbegong,https://uw-makerspace-team.monday.com/protecte...,Form 2/3/4,tmckenna3@wisc.edu,High Temp Resin / Clear Resin,4.06,Undergraduate,Formlabs High Temp (v2),0.29,Form 2/3,0,NaN,NaN,NaN,1.18,User,2,8801177095,Design Innovation Lab Undergraduate Staff Mar ...
1931,Drivetrain Tee,Form 3 - OvertWobbegong,https://uw-makerspace-team.monday.com/protecte...,Form 2/3/4,nagarber@wisc.edu,High Temp Resin / Clear Resin,13.18,Faculty / Staff,Formlabs High Temp (v2),0.29,Form 2/3,0,NaN,NaN,NaN,3.82,Makerspace Staff,5,8810021919,Design Innovation Lab Undergraduate Staff Mar ...
1953,Heating Stage,Form 4 - ActiveBobcat,https://uw-makerspace-team.monday.com/protecte...,Form 2/3/4,nalsharif@wisc.edu,Clear Resin,16.87,Undergraduate,Fromlabs Clear (v5),0.24,Form 2/3,0,NaN,NaN,NaN,4.05,Makerspace Staff,1,8801239769,Design Innovation Lab Undergraduate Staff Mar ...
1954,1406-0000-25,Form 3 - PrettyVulture,https://uw-makerspace-team.monday.com/protecte...,Form 2/3/4,eodya@wisc.edu,Rigid Resin / White Resin,40,Undergraduate,Formlabs Black (v4),0.24,Form 2/3,0,NaN,NaN,NaN,9.6,User with Staff Assistance,4,8820235506,Design Innovation Lab Undergraduate Staff Mar ...

In [89]:
df.columns

Index(['Name', 'Select Printer', 'Slicer Project File', 'Printer Requested',
       'User Email', 'Printer Note', 'Material 1 Qty', 'User Type',
       'Material 1', 'Material 2 Cost/Unit', 'Printed On', 'Material 2 Qty',
       'Material 2', 'Material 2 Cost/Unit', 'Printed On', 'Print Cost',
       'Sliced by', 'Print Time (Hours)', 'Print ID', 'Creation Log'],
      dtype='object', name=1)

In [91]:
df['Material 1'].fillna('None', inplace=True)
df['Material 2'].fillna('None', inplace=True)
df['Material 2 Cost/Unit'].fillna(0, inplace=True)
df['Material 2 Cost/Unit'].fillna(0, inplace=True)
df['Printed On'].fillna('None', inplace=True)
df.info()
df.isna().sum()

<class 'pandas.core.frame.DataFrame'>
Index: 1699 entries, 7 to 1965
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Name                  1699 non-null   object
 1   Select Printer        1699 non-null   object
 2   Slicer Project File   1699 non-null   object
 3   Printer Requested     1699 non-null   object
 4   User Email            1699 non-null   object
 5   Printer Note          1699 non-null   object
 6   Material 1 Qty        1699 non-null   object
 7   User Type             1699 non-null   object
 8   Material 1            1699 non-null   object
 9   Material 2 Cost/Unit  1699 non-null   object
 10  Printed On            1699 non-null   object
 11  Material 2 Qty        1699 non-null   object
 12  Material 2            1699 non-null   object
 13  Material 2 Cost/Unit  1699 non-null   object
 14  Printed On            1699 non-null   object
 15  Print Cost            1699 non-null   object
 16  Sliced by             1699 non-null   object
 17  Print Time (Hours)    1699 non-null   object
 18  Print ID              1699 non-null   object
 19  Creation Log          1699 non-null   object
dtypes: object(20)
memory usage: 278.7+ KB

/var/folders/f5/559_qhw57plby79lklrfrvm80000gn/T/ipykernel_57433/3096610602.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Material 1'].fillna('None', inplace=True)
/var/folders/f5/559_qhw57plby79lklrfrvm80000gn/T/ipykernel_57433/3096610602.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Material 2'].fillna('None', inplace=True)
/var/folders/f5/559_qhw57plby79lklrfrvm80000gn/T/ipykernel_57433/3096610602.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Material 2 Cost/Unit'].fillna(0, inplace=True)
/var/folders/f5/559_qhw57plby79lklrfrvm80000gn/T/ipykernel_57433/3096610602.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Material 2 Cost/Unit'].fillna(0, inplace=True)
/var/folders/f5/559_qhw57plby79lklrfrvm80000gn/T/ipykernel_57433/3096610602.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Printed On'].fillna('None', inplace=True)

1
Name                    0
Select Printer          0
Slicer Project File     0
Printer Requested       0
User Email              0
Printer Note            0
Material 1 Qty          0
User Type               0
Material 1              0
Material 2 Cost/Unit    0
Printed On              0
Material 2 Qty          0
Material 2              0
Material 2 Cost/Unit    0
Printed On              0
Print Cost              0
Sliced by               0
Print Time (Hours)      0
Print ID                0
Creation Log            0
dtype: int64

#Pricing

In [87]:
# Create histogram for pricing
ax = df['Print Cost'].plot.hist(bins=100, xlabel='Price', title='Histogram of Print Cost', logy=True)
fig = ax.get_figure()
fig.savefig('HistPrintCost.png')

df['Print Cost'].max()

TypeError: no numeric data to plot

In [ ]:
# Create bar chart for the average cost by printer
dfp = df.pivot_table(index='Select Printer', values='Print Cost', aggfunc=['mean', 'median', 'min', 'max'])

ax = dfp.plot.bar(figsize=(40,10), ylabel='Price', yticks=range(0,240,5), title='Price by Printer', grid=True)
fig = ax.get_figure()
fig.savefig('PriceByPrinter.png')

#Printer and Material Usage

In [ ]:
import matplotlib.pyplot as plt

material1names = df["Material 1"].unique()
material1names = [str(name) for name in material1names]
material1names = [name for name in material1names if name != 'nan']
material1uses = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]

for i in range(len(df)):
  for j in range(len(material1names)):
    if df["Material 1"][i] == material1names[j]:
      material1uses[j] += df["Material 1 Qty"][i]

rounded_material1uses = [round(num) for num in material1uses]
#print(rounded_material1uses)

ax = plt.bar(material1names, rounded_material1uses)
plt.xticks(rotation=90)
plt.xticks(fontsize=8)
plt.title("Material 1 Usage", fontsize=18)
plt.ylabel("# of uses", fontsize=13)
plt.xlabel("Material used", fontsize=5)

In [ ]:
data = {'Category': material1names, 'Values': rounded_material1uses}
df1 = pd.DataFrame(data)

df1['Normalized'] = df1['Values'] / df1['Values'].max()

ax = df1.plot.bar(x="Category", y='Normalized', rot=90, figsize=(6.5,4), logy = True)
ax.set_title("Material 1 usage", fontsize=18)
ax.set_ylabel("Normalized uses", fontsize=13)
ax.set_xlabel("Material used", fontsize=13)

In [ ]:
material2names = df["Material 2"].unique()
material2names = [str(name) for name in material2names]
material2names = [name for name in material1names if name != 'nan']

material2uses = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]

for i in range(len(df)):
  for j in range(len(material2names)):
    if df["Material 2"][i] == material2names[j]:
      material2uses[j] += df["Material 2 Qty"][i]

rounded_material2uses = [round(num) for num in material2uses]
#print(rounded_material2uses)

ax1 = plt.bar(material2names, rounded_material2uses)
plt.xticks(rotation=90)
plt.xticks(fontsize=8)
plt.title("Material 2 Usage", fontsize=18)
plt.ylabel("# of uses", fontsize=13)
plt.xlabel("Material used", fontsize=13)

In [ ]:
data = {'Category': material1names, 'Values': rounded_material1uses}
df2 = pd.DataFrame(data)

df2['Normalized'] = df2['Values'] / df2['Values'].max()

ax = df2.plot.bar(x="Category", y='Normalized', rot=90, figsize=(6.5,4), logy = True)
ax.set_title("Material 1 usage", fontsize=18)
ax.set_ylabel("Normalized uses", fontsize=13)
ax.set_xlabel("Material used", fontsize=13)

#Segmentation of users

In [ ]:
import numpy as np
df.pivot_table(
    index='User Type',
    values='Print Time (Hours)',
    aggfunc=[np.average,np.std,np.median,np.max,np.min]
)

In [ ]:
import numpy as np
import pandas as pd

# Assuming df is your DataFrame
# Group the data by 'User Type'
grouped = df[['Print Time (Hours)', 'User Type']].groupby('User Type')

# Function to find outliers using IQR
def find_outliers(group):
    Q1 = group['Print Time (Hours)'].quantile(0.25)
    Q3 = group['Print Time (Hours)'].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    outliers = group[(group['Print Time (Hours)'] < lower_bound) | (group['Print Time (Hours)'] > upper_bound)]
    return outliers

# Apply the function to each group
outliers = grouped.apply(find_outliers)

# Display the outliers
print("Outliers in 'Print Time (Hours)' by User Type:")
print(outliers)

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Assuming df is your DataFrame
# Group the data by 'User Type'
grouped = df1.groupby('User Type')

# Plot a histogram for each user type
plt.figure(figsize=(10, 6))

for user_type, group in grouped:
    plt.hist(group['Print Time (Hours)'], bins=10, alpha=0.5, label=user_type)

plt.title('Histogram of Print Time (Hours) by User Type')
plt.xlabel('Print Time (Hours)')
plt.ylabel('Frequency')
plt.legend(title='User Type')
plt.grid(True)
plt.show()

In [ ]:
df.pivot_table(
    index='User Type',
    columns='Material 1',
    values='Print Time (Hours)',
    aggfunc=[np.average]
)

In [ ]:
import pandas as pd
import numpy as np

# Define material categories
material_categories = {
    'PLA': ['PLA Basic', 'PLA Matte', 'PLA-CF', 'Tough PLA'],
    'Resin': ['Tough 1500', 'White', 'Clear'],
    'Nylon': ['Nylon 12', 'Onyx'],
    'ABS': ['ABS', 'ABS-GF', 'ABS M30'],
    'PC': ['PC', 'PC-ABS'],
    'PETG': ['PETG Basic', 'PETG HF', 'PETG Translucent']
}

def categorize_materials(df):
    # Create a new DataFrame to store categorized results
    categorized_df = pd.DataFrame(index=df.index)
    
    # Initialize category columns with zeros
    for category in material_categories.keys():
        categorized_df[category] = 0.0
    
    # Iterate through each material and categorize it
    for material in df.columns:
        for category, keywords in material_categories.items():
            if any(keyword.lower() in material.lower() for keyword in keywords):
                categorized_df[category] += df[material]
                break
    
    # Calculate averages for each category
    for category in material_categories.keys():
        # Count non-zero values for each category
        non_zero_count = (categorized_df[category] != 0).sum()
        if non_zero_count > 0:
            categorized_df[category] = categorized_df[category] / non_zero_count
    
    return categorized_df

In [ ]:
df2 = categorize_materials(df)